ingress:
  annotations:
    kubernetes.io/tls-acme: "true"
  tls:
  - secretName: ${component.minio.name}-tls
    hosts:
    - ${component.ingress.fqdn}
    - ${component.minio.name}.${component.minio.ingress.baseDomain}
