apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: px-ingress
  namespace: ${component.portworx.namespace}
  annotations:
    agilestacks.com/stack-component: portworx
spec:
  rules:
  - host: ${component.portworx.lighthouseUrl}
    http:
      paths:
      - path: /
        backend:
          serviceName: px-lighthouse
          servicePort: 80
