apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgresql-data-volume
  labels:
    provider:  agilestacks.com
    project:   postgresql
    instance:  "${hub.componentName}"
    storage:   local
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/nfs/postgresql/${component.postgresql.namespace}/${hub.componentName}"
