apiVersion: auth.agilestacks.com/v1alpha1
kind: Oidc
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: oidc-grafana
spec:
  id: ${component.prometheus.grafana.oidcId}
  secret: ${component.prometheus.grafana.oidcSecret}
  redirectURIs:
  - ${component.ingress.protocol}://${component.prometheus.grafana.ingress.urlPrefix}.${component.ingress.ssoFqdn}/login/generic_oauth
  name: 'Grafana'
