prometheusOperator:
  prometheusSpec:
    thanos:
      baseImage: improbable/thanos
      version: ${component.prometheus.thanos.version}
      objectStorageConfig:
        key: thanos-config.yaml
        name: thanos-objstore-config
