prometheusOperator:
  prometheusSpec:
    thanos:
      baseImage: improbable/thanos
      version: {{component.promoper.thanos.version}}
      objectStorageConfig:
        key: thanos.yaml
        name: thanos-objstore-config
