apiVersion: v1
kind: ConfigMap
metadata:
  name: sensor-controller-configmap
  namespace: ${component.argo.namespace}
data:
  config: |
    instanceID: argo-events
    namespace: ${component.argo.namespace}
