apiVersion: auth.agilestacks.com/v1alpha1
kind: Oidc
metadata:
  name: ${component.kubeflow.name}-client
  namespace: ${component.kubeflow.namespace}
spec:
  id: ${component.kubeflow.oidc.clientId}
  name: Kubeflow
  secret: ${component.kubeflow.oidc.secret}
  redirectURIs:
  - ${component.kubeflow.oidc.redirectURI}
