MYSQL_HOST=${component.mysql.host}
MYSQL_DATABASE=metadb
MYSQL_PORT=3306
MYSQL_ALLOW_EMPTY_PASSWORD=false
METADATA_GRPC_SERVICE_PORT=9090
MYSQL_USERNAME=${component.mysql.user}
MYSQL_PASSWORD=${component.mysql.password}
