---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-ui
  namespace: ${component.kubeflow.namespace}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
  namespace: ${component.kubeflow.namespace}
