source_up
AWS_PROFILE=agilestacks-demo01
DOMAIN_NAME=viktor2.demo01.kubernetes.delivery
STATE_BUCKET=demo01.agilestacks.com
STATE_REGION=eu-west-1
export TF_VAR_keypair=agilestacks
export TF_VAR_state_bucket=demo01.agilestacks.com
export TF_VAR_state_region=eu-west-1
export TF_VAR_base_domain=viktor2.demo01.kubernetes.delivery
export TF_VAR_worker_subnet_id=subnet-02ba35aa42f975afc
export TF_VAR_worker_sg_id=sg-065da370051a35b24
export TF_VAR_worker_instance_count=2
export TF_VAR_worker_instance_type=r4.large
export TF_VAR_worker_instance_gpu=false
export TF_VAR_worker_spot_price=0.08
export TF_VAR_container_linux_version=1800.6.0
export TF_VAR_node_pool_name=gpu4
