apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${component.aws-spot-drainer.namespace}
commonLabels:
  app: ${component.aws-spot-drainer.name}
resources:
- cluster-role.yaml
- service-account.yaml
- cluster-role-binding.yaml
- daemon-set.yaml
