terraform {
  required_version = ">= 0.9.3"
}

provider "aws" {}

resource "aws_db_snapshot" "postgresql-{{TS}}" {
  db_instance_identifier = "${coalesce("${var.database_identifier}", "${var.rds_name}")}"
  db_snapshot_identifier = "${coalesce("${var.database_identifier}", "${var.rds_name}")}-{{TS}}"
}
