# ------------------------------------------------------------------------------
# SageMaker:
# ------------------------------------------------------------------------------

## The notebook instance type
NoteBookInstanceType: "ml.t2.medium"
