apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: ${component.dex.name}
spec:
  endpoints:
  - dnsName: ${component.dex.oidcIssuerFqdn}
    recordTTL: 180
    recordType: ${component.ingress.loadBalancerDnsRecordType}
    targets:
    - ${component.ingress.loadBalancer}
