apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${component.dex.name}
  namespace: ${component.dex.namespace}
  annotations:
    kubernetes.io/ingress.class: "${component.ingress.kubernetes.ingressClass}"
spec:
  rules:
  - host: ${component.dex.oidcIssuerFqdn}
    http:
      paths:
      - path: /
        backend:
          serviceName: ${component.dex.name}
          servicePort: 5556
