apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dex-ingress
  namespace: ${component.dex.namespace}
  annotations:
    agilestacks.com/stack-component: dex
spec:
  rules:
  - host: ${component.dex.oidcIssuerFqdn}
    http:
      paths:
      - path: /
        backend:
          serviceName: dex
          servicePort: 5556
