apiVersion: v1
kind: Service
metadata:
  name: ${component.dex.name}
  namespace: ${component.dex.namespace}
spec:
  selector:
    app.kubernetes.io/name: dex
    app.kubernetes.io/instance: ${component.dex.name}
    app.kubernetes.io/component: dex
  ports:
  - name: worker
    protocol: TCP
    port: 5556
