apiVersion: v1
kind: Service
metadata:
  name: dex
  namespace: ${component.dex.namespace}
  labels:
    component: dex
spec:
  selector:
    component: dex
  ports:
  - name: worker
    protocol: TCP
    port: 5556

