apiVersion: v1
kind: Service
metadata:
  name: ${component.dex.name}-api
  namespace: ${component.dex.namespace}
spec:
  selector:
    component: ${component.dex.name}
  ports:
  - name: api
    protocol: TCP
    port: 5557