# https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/values.yaml

kubecostProductConfigs:
  clusterName: "${dns.domain}"

service:
  port: ${component.kubecost.service.port}
