apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-data-volume
  labels:
    provider:  agilestacks.com
    project:   mongodb
    instance:  "${component.name}"
    storage:   local
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/nfs/mongodb/${component.mongodb.namespace}/${component.name}"
