image: "sosedoff/pgweb:0.9.7"

database:
  url: "postgres://${component.postgresql.user}:${component.postgresql.password}@${component.postgresql.url}:${component.postgresql.port}/${component.postgresql.database}?sslmode=disable"

ingress:
  enabled: true
  fqdn: ${component.pgweb.ingress.urlPrefix}.${component.ingress.fqdn}
  path: ${component.pgweb.ingress.path}
  imageTag: v0.1.1
  imagePullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
