---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${component.ceph.blockdevice.pvc.name}
  namespace: ${component.ceph.namespace}
  labels:
    pvc-name: ${component.ceph.blockdevice.pvc.name} 
  
spec:
  storageClassName: ${component.ceph.blockdevice.pvc.storageclass}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: ${component.ceph.nfs.pvc.size}