apiVersion: kubeflow.org/v1
kind: Profile
metadata:
  name: workspace
  finalizers:
  - profile-finalizer
spec:
  owner:
    kind: User
    name: ${component.kubeflow.passwd.0.user}
  resourceQuotaSpec: {}
