.cache
kustomize/
/ingress-istio.yaml
/ingress.yaml
/kfctl-istio.yaml
lib/
bin/kfctl
kfctl.tar.gz
!kustomize.yaml
/kfctl_istio_dex.json
oidc.yaml
/ingress.yaml
/hack/argo/overlays/agilestacks/cluster-role-binding.yaml
/hack/argo/overlays/agilestacks/config-map.yaml
/hack/argo/overlays/agilestacks/deployment.yaml
/hack/argo/overlays/agilestacks/params.env
/hack/argo/overlays/agilestacks/service-account.yaml
/hack/knative/knative-serving-install/overlays/agilestacks/gateway.yaml
/hack/istio/istio/overlays/agilestacks/params.env
/hack/istio/istio/overlays/agilestacks/kf-istio-resources.yaml
