ssl:
  enforced: false  # we do this so that we can do http acme challenges
acme:
  enabled: ${component.traefik.hybrid.acmeEnabled}
  dnsProvider:
    name: route53
    route53:
      AWS_REGION: "${cloud.region}"
      AWS_ACCESS_KEY_ID: "${component.traefik.hybrid.aws.accessKey}"
      AWS_SECRET_ACCESS_KEY: "${component.traefik.hybrid.aws.secretKey}"
