harborAdminPassword: ${component.harbor.password}
selfRegistration: "off"
externalProtocol: https
ingress:
  enabled: true
persistence:
  enabled: false
externalDomain: ${component.harbor.name}.${component.harbor.servicePrefix}.${dns.domain}
externalPort: 
registry:
  storage:
    type: s3
    s3: 
      region: ${component.s3.region}
      bucket: ${component.s3.bucket} 