kind: ConfigMap
apiVersion: v1
metadata:
  name: storage-config
  namespace: ${component.jenkins.namespace}
  labels:
    provider:  agilestacks.com
    project:   jenkins
    qualifier: storage-config
data:
  BUCKET_KIND: ${component.bucket.kind}
  BUCKET_NAME: ${component.bucket.name}
