apiVersion: v1
kind: Secret
metadata:
  name: jenkins-secrets
  namespace: ${component.jenkins.namespace}
  labels:
    provider: agilestacks.com
    project: jenkins
data:
#  ${component.jenkins.admin.user}: ${component.jenkins.admin.password/base64}
#  ${component.jenkins.serviceaccount.user}: ${component.jenkins.serviceaccount.password/base64}
