---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pipeline-nodejs
  namespace: ${component.jenkins.namespace}
  labels:
    provider: agilestacks.com
    project: jenkins
    qualifier: pipeline-scm
data:
  repositoryUrl: "https://github.com/agilestacks/agile-demo.git"
  branchSpec:  "*/master"
