apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
  name: monitoring-auth-ingress
  namespace: ${component.dex.namespace}
spec:
  tls:
    - hosts:
        - kubernetes.${component.ingress.fqdn}
      secretName: oauth-ingress-tls-secret
  rules:
  - host: kubernetes.${component.ingress.fqdn}
    http:
      paths:
      - path: /
        backend:
          serviceName: monitoring-auth-dashboard
          servicePort: 4180
