---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ${component.ingress.name}-acme
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default
