apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-addon: ${component.cluster-autoscaler.name}.addons.k8s.io
    k8s-app: ${component.cluster-autoscaler.name}
  name: ${component.cluster-autoscaler.name}
  namespace: ${component.cluster-autoscaler.namespace}
