apiVersion: v1
kind: PersistentVolume
metadata:
  name: timescaledb-data-volume
  labels:
    provider:  agilestacks.com
    project:   timescaledb
    instance:  "${hub.componentName}"
    storage:   local
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/nfs/timescaledb/${component.timescaledb.namespace}/${hub.componentName}"
