proxy:
  secretToken: fd35f6d4ccd5a33b8f82a15f29c918becaf1089e6346023b3bb7c116f7f0bcbb
  service:
    type: ClusterIP
hub:
  db:
    pvc:
      storageClassName: ${component.jupyterhub.storageClassName}
singleuser:
  storage:
    dynamic:
      storageClass: ${component.jupyterhub.storageClassName}
debug:
  enabled: false
ingress:
  enabled: true
  hosts: ['${component.jupyterhub.name}.${component.ingress.ssoFqdn}']
