apiVersion: v1
clusters:
- cluster:
    server: https://${kubernetes.api.endpoint}
  name: ${dns.domain}
contexts:
- context:
    cluster: ${dns.domain}
    namespace: ${kubernetes.api.namespace}
    user: ${kubernetes.api.user}@${dns.domain}
  name: ${dns.domain}
current-context: ${dns.domain}
kind: Config
preferences: {}
users:
- name: ${kubernetes.api.user}@${dns.domain}
  user:
    token: ${kubernetes.api.token}