apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-operator
  namespace: ${component.dex.namespace}
data:
  .dex-operator.yaml: |
    handler: AuthProxy
    image: 'agilestacks/oauth2_proxy:v2.3'
    cookieExpire: '8h0m0s'
    emailDomain: '*'
    ingressPrefix: ${component.ingress.ssoUrlPrefix}
    ingressProtocol: ${component.ingress.protocol}
    dexNamespace: ${component.dex.namespace}
