kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: wowza-data
  labels:
    provider:  agilestacks.com
    project:   wowza
    qualifier: data
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: default
  resources:
    requests:
      storage: 20Gi
