apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: thanos-sidecar
  namespace: ${component.prometheus.namespace}
  labels:
    release: prometheus-operator
spec:
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
  selector:
    matchLabels:
      app: thanos-sidecar

