image:
  registry: docker.io
  repository: bitnami/external-dns
  tag: 0.5.17-debian-9-r50
  pullPolicy: Always

sources:
# - service
- ingress
- crd
# - istio-gateway

policy: sync
domainFilters:
- "${dns.domain}"
crd:
  create: true
  apiversion: externaldns.k8s.io/v1alpha1
  kind: DNSEndpoint

