image:
  registry: docker.io
  repository: bitnami/external-dns
  tag: 0.7.3
  pullPolicy: Always

sources:
# - service
- ingress
- crd
# - istio-gateway

interval: ${component.external-dns.interval}
policy: sync
triggerLoopOnEvent: false
crd:
  create: true
  apiversion: externaldns.k8s.io/v1alpha1
  kind: DNSEndpoint
