apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: ${component.kubernetes-dashboard.name}
  name: ${component.kubernetes-dashboard.name}
  namespace: ${component.kubernetes-dashboard.namespace}
