apiVersion: v1
kind: Service
metadata:
  name: ${component.kubernetes-dashboard.name}
  namespace: ${component.kubernetes-dashboard.namespace}
  labels:
    k8s-app: ${component.kubernetes-dashboard.name}
    kubernetes.io/cluster-service: "true"
spec:
  selector:
    k8s-app: ${component.kubernetes-dashboard.name}
  ports:
  - port: 80
    targetPort: 9090
