apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: ${component.cert-manager.caIssuer.name}-keys
data:
  tls.key: ${component.cert-manager.caIssuer.key/base64}
  tls.crt: ${component.cert-manager.caIssuer.cert/base64}
