cluster:
  name: kubernetes-logging

node:
  master: true
  data: true

network.host: 0.0.0.0

discovery.type: single-node
discovery.seed_hosts: elasticsearch-discovery.${component.efk.namespace}.svc.cluster.local


path:
  logs: /data/log
  data: /data/elasticsearch


bootstrap.memory_lock: false
